<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Artesãos</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="assets/css/vendors.css" rel="stylesheet">
  <link href="assets/css/style.min.css" rel="stylesheet">
  </head>

  <body class="app">
    <section class="top">
      <div class="top_overlay"></div>
      <div class="container">
	       <div class="row">
	          <div class="header col-md-12">
              <nav id="artesaos-navbar" class="navbar navbar-default navbar-static-top">
               <div class="container">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                               aria-expanded="false" aria-controls="navbar">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                   </div>

                   <div id="navbar" class="collapse navbar-collapse">
                       <ul class="nav navbar-nav">
                           <li><a href="#">PACOTES</a></li>
                           <li><a href="#">QUEM SOMOS</a></li>
                           <li><a href="#">CONTRIBUIR</a></li>

                           <li class="visible-xs"><a href="contributing.html">GITHUB</a></li>
                       </ul>

                       <ul class="nav navbar-nav navbar-right hidden-xs social">
                           <li><a href="https://github.com/artesaos" target="_blank"><i class="fa fa-github fa-3x fa-fw"></i></a></li>
                           <li><a href="http://slack.laravel.com.br" target="_blank"><i class="fa fa-slack fa-3x fa-fw"></i></a></li>
                       </ul>
                   </div>
               </div>
           </nav>
	          </div>
          </div>
      </div>
	<div class="top_wrapper">
		<div class="top_descr">
			<div class="top_centered">
				<div class="top_text">
          <img src="assets/images/artesaos.png" alt="artesaos" class="img-responsive">
					<h1 class="delay-1s">Você conhece a iniciativa Artesãos?</h1>
					<p class="hidden-xs delay-1s">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,</p>
          <p class="hidden-xs delay-1s"> nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section PACKAGES -->
<section class="packages">
  <div class="container">
		<div class="row">
      <div class="section_header">
				<h2>NOSSOS PACOTES</h2>
				<span class="header_line"></span>
      </div>

      <div class="row">
                <div class="col-md-3" v-for="project in projects">
                    <div class="panel panel-default box">
                        <div class="panel-heading box-heading">{{project.project_name}}</div>
                        <div class="panel-body">
                            <p class="panel-description">{{project.description}}</p>

                            <div class="box-props">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6 box-compatible">
                                        <h5>Compatible</h5>
                                        <span>{{project.laravel_compatible}}</span>
                                    </div>
                                    <div class="col-md-6 col-xs-6 box-version">
                                        <h5>Version</h5>
                                        <span>{{project.project_version}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ project.url }}" target="_blank">
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- /row -->
    </div>

    <div class="text-center">
        <nav>
            <ul class="pagination">
                <li v-bind:class="{disabled:pagination.currentPage == 1}">
                    <a href="#" aria-label="Previous" v-on:click="previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li v-for="(index, pag) in pagination.pagesNumbers" v-bind:class="{active:pagination.currentPage == pag}">
                    <a href="#" v-on:click="page($event, pag)">{{ pag }}</a>
                </li>
                <li v-bind:class="{disabled:pagination.currentPage==pagination.totalPages}">
                    <a href="#" aria-label="Next" v-on:click="next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
  </div>
</section>

  <script src="assets/js/vendors.js"></script>
  <script src="assets/js/app.min.js"></script>

  </body>
</html>
