@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
html {
  position: relative;
  min-height: 100%;
}
body{
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #5a5a5a;
	background: #D9DBD8;
	/* Margin bottom by footer height */
	margin-bottom: 100px;
}
section {
    min-height: 600px;
}

/* START CUSTOM NAVBAR */
#artesaos-navbar .navbar-right.social img {
    max-height: 40px;
    margin-top: -10px;
    float: left;
}
#artesaos-navbar.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    margin-top: -10px;
}
#artesaos-navbar.navbar-default {
    font-size: 14px;
    background-color: rgba(251, 93, 66, 1);
    border-width: 0px;
    border-radius: 0px;
}
#artesaos-navbar.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-nav>li>a:hover,
#artesaos-navbar.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-nav>.active>a,
#artesaos-navbar.navbar-default .navbar-nav>.active>a:hover,
#artesaos-navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-toggle {
    border-color: #fb5d42;
}
#artesaos-navbar.navbar-default .navbar-toggle:hover,
#artesaos-navbar.navbar-default .navbar-toggle:focus {
    background-color: #fb5d42;
}
#artesaos-navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#artesaos-navbar.navbar-default .navbar-toggle:hover .icon-bar,
#artesaos-navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
/* END CUSTOM NAVBAR */
.box{
	text-align:center;
}
.box .panel-heading{
	color: #FB5D42;
	font-size: 14px;
	font: Antic;
}

.box .panel-body{
	padding-bottom:0;
}
.box .panel-body>p{
	text-align: left;
}
.box .box-props{
	position:relative;
	margin:4px 6px 0 6px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.box .box-props .box-compatible, .box .box-props .box-version{
	float:left;
	padding:4px 2px 4px 2px;
	font-size:12px;
}
.box .box-props .box-compatible{
	border-right:1px solid #ddd;
}
.box .box-props .box-compatible>h5, .box .box-props .box-version>h5{
	color: #FB5D42;
	margin:0 0 4px 0;
	font: Antic;
}
.box .panel-footer{
	border-top:none;
	padding:4px 0 2px 0;
	color:#FB5D42;
	background:#fff;
}
.box .panel-footer:hover{
	background:#FB5D42;
	color:#fff;
}

/*
	BOOTSTRAP
*/
.panel .panel-heading{
	padding: 10px;
}

/* PACKAGES SECTION */
.packages{
    min-height: 600px;
    margin-top: 60px;
  /*padding: 23px 0;*/
}

.packages h1{
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 60px;

}

/* CUSTOM BOOTSTRAP PAGINATION */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #FB5D42 !important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff !important;
  cursor: default;
  background-color: #FB5D42 !important;
  border-color: #FB5D42 !important;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* END PACKAGES */

.content-section {
    padding-top: 65px;
}

/* ABOUT SECTION */
.about{
  min-height: 600px;
  background-color:#FB5D42;
  padding-bottom: 80px;
}
.about-text p {
  color: #FFF;
  font-size: 24px;

}
.about-logo{
  height: 40%;
  width: 40%;
  display: inline-block;
}

.about > .container > div > div {
  text-align: center;
}

/* END ABOUT SECTION */

/*	ABOUT US SECTION */
#about-us {
    background-color: #ffffff;
    padding-bottom: 10px;
}
#about-us a {
    cursor: pointer;
    color: black;
}
#about-us h2 {
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 60px;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 30px;
    margin-bottom: 30px;
}
#about-us .member {
    margin-bottom: 20px;
    min-width: 150px;
}
#about-us .member img {
    max-height: 180px;
    border-radius: 50%;
    border: 4px solid #F2AD9D;
    display: inline !important;
}
#about-us .member .name, #about-us .member .nick-name {
    display: block;
}
#about-us .member .name {
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
}
#about-us .member .nick-name {
    font-weight: 400;
    text-decoration: none;
}
/*	END ABOUT US SECTION */


/*	CONTRIBUIR SECTION */
.contribuir{
  background: #ffffff; 
  padding-bottom: 23px;
}
.contribuir a {
    cursor: pointer;
    color: black;
}
.contribuir h2 {
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 60px;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contribuir h3{
  font-weight: 400;
  letter-spacing: 2px;
}
.contribuir .container p{
    text-align: justify;
}

.art-callout {
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.art-callout-warning > h4 {
    color: #aa6708;
    font-weight: bold;
}

.art-callout-danger {
    border-left-color: #ce4844;
}
.art-callout-warning {
    border-left-color: #aa6708;
}
.highlight {
    padding: 9px 14px;
    margin: 14px 0px 14px 0px;
    background-color: #020202;
    border: 1px solid #020202;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.67);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.67);
}

.highlight > pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: rgb(0, 0, 0);
    border: 0;
}

.highlight > pre > code {
    font-size: inherit;    
    color: #ffffff;
}

figure {
    margin: 0;
}


/* END CONTRIBUIR SECTION */


/* FOOTER SECTION */
.made-by{
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #2B2C26;
  color: #F2AD9D !important;
  padding-top: 20px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.panel-default {
    height: 260px;
}
.panel-body {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel-description {
    align-self: flex-start;
}

.box-props {
    align-self: flex-end;
    justify-content: center;
    width: 100%;
}
