/* ==========================================================
! Fonts
========================================================== */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext");

/* ==========================================================
! Clearfix
========================================================== */
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a{color:#d64541;}
a:link{-webkit-tap-highlight-color:#fff;outline:none;}
a:hover{color:#1e2a38;text-decoration:none;}
button{outline:none;}
ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{list-style:none;list-style-image:none;margin:0}
small{font-size:85%}
b,strong,th{font-weight:700}
td{vertical-align:top}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em}
sub{bottom:-.25em}
pre{padding:15px;white-space:pre-wrap;word-wrap:break-word}
.ie6 legend,.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-family:sans-serif;font-size:100%;margin:0;overflow:visible;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;border-radius:1px;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
.ie7 img{-ms-interpolation-mode:bicubic}

/* ==========================================================
! Generic
========================================================== */
body {

	font-family: 'Open Sans', sans-serif;
}
.clear {clear:both;}
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;

}

/* ==========================================================
! Layout
========================================================== */
.container{
	position:relative;
}
.container:after{
	display:table;
	clear:both;
	content:"";

}
section {
  padding: 90px 0 85px;
  background:#fff;
  position:relative;
}
 .top{
	overflow:hidden;
	min-height: 800px;
	padding-top: 0px;
	background:url("../images/bg3.svg")no-repeat fixed;
	background-position: 50% 50% !important;
  background-size: cover;
 }

 .packages {
		overflow:hidden;
		min-height: 480px;
		padding-top: 80px;
		background: #1e2a38;
		background-position: 50% 50% !important;
	  background-size: cover;
 }
 .top_overlay{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	/* background:rgba(30,42,56,0.4); */
	z-index:2;
 }
.header{
	position:relative;
	padding-top:30px;
}
.logo{
	float:left;
	position:relative;
	z-index: 100;
}

/* ==========================================================
! NAV
========================================================== */
#artesaos-navbar .navbar-right.social img {
    max-height: 40px;
    margin-top: -10px;
    float: left;
}
#artesaos-navbar.navbar-default {
    font-size: 14px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
}
#artesaos-navbar.navbar-default .navbar-nav>li>a {
    color: #555555;
    background-color: transparent;
}
#artesaos-navbar.navbar-default .navbar-nav>li>a:hover,
#artesaos-navbar.navbar-default .navbar-nav>li>a:focus {
		font-weight: bold;
		color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-nav>.active>a,
#artesaos-navbar.navbar-default .navbar-nav>.active>a:hover,
#artesaos-navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-toggle {
    border-color: #fb5d42;
}
#artesaos-navbar.navbar-default .navbar-toggle:hover,
#artesaos-navbar.navbar-default .navbar-toggle:focus {
    background-color: #fb5d42;
}
#artesaos-navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#artesaos-navbar.navbar-default .navbar-toggle:hover .icon-bar,
#artesaos-navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

/* ==========================================================
! Top
========================================================== */
 .top_wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.top_wrapper .top_descr {
    display: table-row;
}
.top_wrapper .top_descr .top_centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
		padding-top:40px;
}
.top_text h1{
	color:#555555;
	font-family: 'Montserrat', sans-serif;
	font-size:48px;
	font-weight:400;
	margin-bottom:45px;
	line-height:50px;
}
.top_text p{
	color:#555555;
	font-size:19px;
	font-weight:300;
}
.top_text .btn{
	margin:45px 5px;
}
.top_text .btn-light{
	width:185px;
}
 .fw_slider{
	position:relative;
	  top: -60px;
 }

 .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../images/382.GIF");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
	}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
/* ==========================================================
! section header
========================================================== */

 .section_header{
	text-align:center;
	padding-left:15px;
	padding-right:15px;

 }

 .section_header h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:35px;
	padding-bottom:40px;
 }
 .header_line{
	display:inline-block;
	width:110px;
	height:2px;
	margin-bottom:40px;
	background: #d64541;
}
.s_descr_wrap{
	color:#666666;
	font-size:16px;
	line-height:28px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding:0px 100px;
}


/* PACKAGES SECTION */
.packages{
    min-height: 600px;
}

.packages h1{
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 60px;
}
.packages h2{
  color: #f1f1f1;
}

.panel-default {
    height: 260px;
		margin-bottom: 40px;
}
.panel-body {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
		padding: 0px;
		background-color: #f4f4f4;
}

.panel-description {
    align-self: flex-start;
		font-size: 14px;
		min-height: 140px;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		color: #666666;
}

	.box{
		text-align:center;
	}

	.box .panel-heading{
		color: #555555;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}

	.box .panel-body{
		padding-bottom:0;
	}
	.box .panel-body>p{
		text-align: left;
	}
	.box .box-props{
		position:relative;
		margin:4px 6px 0 6px;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
	}
	.box .box-props .box-compatible, .box .box-props .box-version{
		float:left;
		padding:4px 2px 4px 2px;
		font-size:12px;
	}
	.box .box-props .box-compatible{
		border-right:1px solid #ddd;
	}
	.box .box-props .box-compatible>h5, .box .box-props .box-version>h5{
		color: #d64541;
		margin:0 0 4px 0;
		font: Antic;
	}
	.box .panel-footer{
		border-top:none;
		padding:4px 0 2px 0;
		color:#d64541;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		background:#fff;
	}
	.box .panel-footer:hover{
		background:#d64541;
		color:#fff;
	}

	.box-props {
    align-self: flex-end;
    justify-content: center;
    width: 100%;
}

	/*
		BOOTSTRAP
	*/
	.panel .panel-heading{
		padding: 10px;
		background-color: #f5f5f5;
	}


/* CUSTOM BOOTSTRAP PAGINATION */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d64541 !important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #d64541;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff !important;
  cursor: default;
  background-color: #d64541 !important;
  border-color: #d64541 !important;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* END PACKAGES */
