/* ==========================================================
! Fonts
========================================================== */
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext");

/* ==========================================================
! Generic
========================================================== */
body {
	font-family: 'Open Sans', sans-serif;
}

img { /* Needed for mobile */
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* ==========================================================
! Layout
========================================================== */
section {
  padding: 90px 0 85px;
  background:#fff;
  position:relative;
}
 .top{
	overflow:hidden;
	min-height: 800px;
	padding-top: 0px;
	background:url("../images/bg3.svg")no-repeat fixed;
	background-position: 50% 50% !important;
  background-size: cover;
 }

 .packages {
	overflow:hidden;
	min-height: 480px;
	padding-top:80px;
	background: #1E2A38;
	background-position: 50% 50% !important;
	background-size: cover;
 }

 .developers {
	 overflow:hidden;
	 min-height: 480px;
	 padding-top: 80px;
	 background: #fff;
	 background-position: 50% 50% !important;
	 background-size: cover;
 }

 .top_overlay{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	/* background:rgba(30,42,56,0.4); */
	z-index:2;
 }
.header{
	position:relative;
	padding-top:30px;
}
.logo{
	float:left;
	position:relative;
	z-index: 100;
}

/* ==========================================================
! NAV
========================================================== */
#artesaos-navbar .navbar-right.social img {
    max-height: 40px;
    margin-top: -10px;
    float: left;
}
#artesaos-navbar.navbar-default {
    font-size: 14px;
    background-color: #FFF;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    /* background-color: transparent;*/   
    border-width: 0px;
    border-radius: 0px;
    padding-top: 5px;
    height: 60px;
}
#artesaos-navbar.navbar-default .navbar-nav{
	background-color: #FFF;
}

#artesaos-navbar.navbar-default .navbar-nav>li>a {
    color: #666;
    font-weight: bold;
}
#artesaos-navbar.navbar-default .navbar-nav>li>a:hover,
#artesaos-navbar.navbar-default .navbar-nav>li>a:focus {
		font-weight: bold;
		color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-nav>.active>a,
#artesaos-navbar.navbar-default .navbar-nav>.active>a:hover,
#artesaos-navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(251, 93, 66, 1);
}
#artesaos-navbar.navbar-default .navbar-toggle {
    border-color: #fb5d42;
}
#artesaos-navbar.navbar-default .navbar-toggle:hover,
#artesaos-navbar.navbar-default .navbar-toggle:focus {
    background-color: #fb5d42;
}
#artesaos-navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #FB5D42;
}
#artesaos-navbar.navbar-default .navbar-toggle:hover .icon-bar,
#artesaos-navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #FFF;
}
#artesaos-navbar.navbar-default .social a {
    padding: 10px 15px !important;
	font-size:10px;
}

/* ==========================================================
! Top
========================================================== */
 .top_wrapper {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.top_wrapper .top_descr {
    display: table-row;
}
.top_wrapper .top_descr .top_centered {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
		padding-top:40px;
}
.top_text h1{
	color:#555555;
	font-family: 'Montserrat', sans-serif;
	font-size:48px;
	font-weight:400;
	margin-bottom:45px;
	line-height:50px;
}
.top_text p{
	color:#555555;
	font-size:19px;
	font-weight:300;
}
.top_text .btn{
	margin:45px 5px;
}
.top_text .btn-light{
	width:185px;
}
 .fw_slider{
	position:relative;
	  top: -60px;
 }

 .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../images/382.GIF");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
	}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
/* ==========================================================
! section header
========================================================== */

 .section_header{
	text-align:center;
	padding-left:15px;
	padding-right:15px;

 }

 .section_header h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	font-size:35px;
	padding-bottom:40px;
 }
 .header_line{
	display:inline-block;
	width:110px;
	height:2px;
	margin-bottom:40px;
	background: #d64541;
}
.s_descr_wrap{
	color:#666666;
	font-size:16px;
	line-height:28px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding:0px 100px;
}


/* PACKAGES SECTION */
.packages{
    min-height: 600px;
}

.packages h1{
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 60px;
}
.packages h2{
  color: #f1f1f1;
}

.panel-default {
	margin-bottom: 40px;
}
.panel-body {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 0px;
	background-color: #f4f4f4;

}

.panel-description {
    align-self: flex-start;
		font-size: 14px;
		min-height: 140px;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		color: #666666;
}

.box{
	text-align:center;
}

.box .panel-heading{
	color: #666;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #DFDFDF !important;
	padding: 10px;
}

.box .panel-body{
	padding-bottom:0;
}
.box .panel-body>p{
	text-align: left;
}
.box .box-props{
	position:relative;
	margin:4px 6px 0 6px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.box .box-props .box-compatible, .box .box-props .box-version{
	float:left;
	padding:4px 2px 4px 2px;
	font-size:12px;
}
.box .box-props .box-compatible{
	border-right:1px solid #ddd;
}
.box .box-props .box-compatible>h5, .box .box-props .box-version>h5{
	color: #d64541;
	margin:0 0 4px 0;
	font: Antic;
}
.box .panel-footer{
	border-top:none;
	padding:4px 0 2px 0;
	color:#d64541;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background:#fff;
}
.box .panel-footer:hover{
	background:#d64541;
	color:#fff;
}

.box-props {
align-self: flex-end;
justify-content: center;
width: 100%;
}

/* CUSTOM BOOTSTRAP PAGINATION */
.panel{
	border:none;
	border-radius: 2px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.40);
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d64541 !important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #d64541;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff !important;
  cursor: default;
  background-color: #d64541 !important;
  border-color: #d64541 !important;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* END PACKAGES */

/* ==========================================================
! Section Our Developers
========================================================== */
.developers{
    min-height: 600px;
}
.team h2 {
  margin-bottom: 8px;
}
.team-member {
  text-align: center;
  margin-top: 48px;
}
.team-member img {
  display: inline-block;
  margin-bottom: 16px;
}
.team-member h5 {
  margin-bottom: 8px;
}
.team-member .social-icons {
  margin-top: 8px;
}
.team-member .social-icons li {
	list-style: none;
	display: inline;
}

.team-member img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #444;
}
